*, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #f2e7dd;
}

nav {
    background-color: #f2d6ce;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

nav div h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 600;
    padding: 5px 0px;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 2px solid #a75e3700;

}

nav ul li a:hover{
    border-bottom: 2px solid #a75f37;
}


section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid black;
}
section .introduction{
    margin: 20px;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 350px;
    height: 250px;
    padding: 1em;
}
